<!DOCTYPE html>
<html>
  <head>
    <title>SkinsMonkey - CS2 Skins Marketplace</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body>
    <%= render 'layouts/navbar' %>
    
    <div class="flash-messages">
      <% flash.each do |type, message| %>
        <div class="flash <%= type %>">
          <%= message %>
          <span class="close-flash" onclick="this.parentElement.style.display='none'">&times;</span>
        </div>
      <% end %>
    </div>
    
    <main class="main-content">
      <%= yield %>
    </main>
    
    <%= render 'layouts/footer' %>
  </body>
</html>
